* {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    background-color: #93A29B;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.logo img {
    display: flex;
    background: transparent;
    height: 100px;
    width: auto;
}

.hero-image img {
    height: 300px;
    width: auto;
    border-radius: 10px;
}

.title-header {
    text-align: center;
    font-size: 32px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0 20px 0 0;
    gap: 25px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #93A29B;
    padding: 50px;
}

.main-text {
    width: 400px;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.sub-text {
    width: 300px;

}

.famous {
    background-color: #DFF3E3;
    padding: 20px;
}

.famous-title {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
}

.images {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.images img {
    height: 200px;
    width: 200px;
    display: flex;
    border-radius: 10px;
}

.texts {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.text {
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
}

.call {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    margin: 100px;
    border-radius: 10px;
    background: #93A29B;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 300px;

}

.call-text {
    font-size: 32px;
    font-weight: bold;
}

button {
    color: white;
    background-color: #93A29B;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
}

button:hover {
    color: #93A29B;
    background-color: white;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #93A29B;
}

